body{
    background-color: #f8f9fa;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
}

.navbar{
    padding: 1% 5%;
}

.navbar-brand{
    font-size: 1.5rem;
}

.main-heading{
    color: #2D6EFD;
    font-size: 3.5rem;
    line-height: 1.5;
}

/* sections */
.white-section{
    color: #2D6EFD;
    background-color: #f8f9fa;
}

.blue-section{
    color: #f8f9fa;
    background-color: #2D6EFD;
}

/* Home screen for DEMO */
#homescreen{
    width: 75%;
    margin: auto;
    padding-top: 7rem;
}

.btn-homescreen{
    margin-top: 12rem;
}

/* Flow of app */
.hidden{
    display: none;
}

/*Hoffman Demo CSS */

#hoffmanDemo{
    height: 90vh;
}

.timer{
    font-size: 6rem;
    margin-top: 15%;
    margin-bottom: 10%
}

.grams{
    color: #2D6EFD;
}

.instruction{
    font-size: 3rem;
    margin-top: 10%;
}

.btn-start, .btn-restart{
    width: 150px;
    height: 75px;
}

.step{
    font-size: 2rem;
}

.steps{
    justify-content: start;
}