body{
    background-color: #f8f9fa;
    text-align: center;
}

h1, h2, h3, h4, h5, h6{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 900;
}


.container-fluid{
    padding: 7% 15%;
}

.navbar{
    padding: 1% 5%;
}

.navbar-brand{
    font-size: 1.5rem;
}

.nav-item{
    font-size: 1.2rem;
}

.icon{
    margin-bottom: 1rem;
}

.icon:hover{
    color:aliceblue;
}

/* sections */
.white-section{
    color: #2D6EFD;
    background-color: #f8f9fa;
}

.blue-section{
    color: #f8f9fa;
    background-color: #2D6EFD;
}

/* title section */
#title{
    text-align: left;
}
.main-heading{
    color: #2D6EFD;
    font-size: 3.5rem;
    line-height: 1.5;
}

.input-group{
    width: 400px;
}

.card{
    color: #2D6EFD;
}

/* Feature section */
.feature-box{
    background-color: #003ec2;
}

/* footer section */
.footer-icon{
    margin: 20px 10px;
}


/* css transitions */

/* .hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
} */

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.feature-box:nth-child(2){
    transition-delay: 200ms;
}

.feature-box:nth-child(3){
    transition-delay: 400ms;
}

/* Home screen for DEMO */
#homescreen{
    width: 75%;
    margin: auto;
    padding-top: 7rem;
}

.btn-homescreen{
    margin-top: 12rem;
}

.hidden{
    display: none;
}

/*Hoffman Demo CSS */

#hoffmanDemo{
    height: 90vh;
}

.timer{
    font-size: 6rem;
    margin-top: 15%;
    margin-bottom: 10%
}

.grams{
    color: #2D6EFD;
}

.instruction{
    font-size: 3rem;
    margin-top: 10%;
}

.btn-start, .btn-restart{
    width: 150px;
    height: 75px;
}